.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/** CityTile styles *****************************/

.row {
  position: absolute;
  width: 90%;
  border: 1px solid black;
  position: absolute;
  left: 51%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.cityTile {
  //outline: 1px solid rgba(0,0,0,0);
}

.cityTile .inner{
  display: block;
  //background: gray;
  min-height: 150px;
  //border-radius: 10px;
  background-image: url(paris.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  
}
.cityTile:hover {
  //outline: 1px solid rgba(0,0,0,1);
  background: lightgray;
}
