body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, black, blue 40% , white);
  width: 90vw;
  height: 97vh;
  transition: 5s;
  
}
@keyframes moveBackground {
  0% {
       color: white;
  }
  50% {
    color: orange;
  }
  100% {
    color: white
  }
}
h1, p {
   animation: moveBackground 5s infinite;
}

div {
  color: white;
 }