body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  background: #989589;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right top, #989589, #abac9d, #bdc1a5, #ced7ae, #ddeeb7);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right top, #989589, #abac9d, #bdc1a5, #ced7ae, #ddeeb7);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.output {
  padding: 20px 0 20px 0;
}